<div class="container">
    <div class="content_page">
      <div class="content">
        <!-- Breadcrumb -->
        <div class="fil_ariane">
          <a href="" title="Accueil">Accueil</a> -- &gt; <a href="" title="Remorque">Remorque</a>
        </div>
  
        <!-- Page Title -->
        <div class="titre_page1">
          <h1>Remorques</h1>
        </div>
  
        <!-- Gallery Section -->
        <div class="row">
          <!-- First Card -->
          <div class="col-md-4 mb-4">
            <div class="card">
              <a class="lien_gal" data-lightbox="remorque-gallery">
                <img class="card-img-top" src="rem1.png" alt="Remorque 1">
              </a>
              <div class="card-body">
                <h5 class="card-title">Remorque 1</h5>
                <p class="card-text">Description de la remorque 1.</p>
              </div>
            </div>
          </div>
  
          <!-- Second Card -->
          <div class="col-md-4 mb-4">
            <div class="card">
              <a class="lien_gal" href="" data-lightbox="remorque-gallery">
                <img class="card-img-top" src="rem2.png" alt="Remorque 2">
              </a>
              <div class="card-body">
                <h5 class="card-title">Remorque 2</h5>
                <p class="card-text">Description de la remorque 2.</p>
              </div>
            </div>
          </div>
  
          <!-- Third Card -->
          <div class="col-md-4 mb-4">
            <div class="card">
              <a class="lien_gal" href="" data-lightbox="remorque-gallery">
                <img class="card-img-top" src="rem3.png" alt="Remorque 3">
              </a>
              <div class="card-body">
                <h5 class="card-title">Remorque 3</h5>
                <p class="card-text">Description de la remorque 3.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>