/* styles.css (global) or footer.component.css */
html, body {
    height: 100%; /* Ensure the HTML and body take up the full height of the viewport */
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  app-root {
    flex: 1; /* Allow the content to grow and push the footer to the bottom */
    display: flex;
    flex-direction: column;
  }
  
  footer {
    background-color: #deded5;
    text-align: center;
    padding: 10px 0;
    width: 100%;
  }