<div class="card text-center mb-3" style="width: 50rem; margin-top: 20px; margin-left: 300px; display: flex; justify-content: center; align-items: center; height: 300px;">
    <div class="card-body">
      <h5 class="card-title"></h5>
      <p class="card-text" style="font-size: 1.1rem; line-height: 1.6; text-align: center;">
        <i>
          Notre entreprise se spécialise dans la fabrication et la vente d'équipements robustes et performants,<br>
          conçus pour répondre aux besoins des professionnels et des particuliers.<br>
          Grâce à un savoir-faire éprouvé et une attention particulière portée à la qualité,<br>
          nous offrons des solutions adaptées aux exigences du terrain. Notre engagement repose sur la durabilité,<br>
          l'innovation et un service client de proximité,<br>
          garantissant ainsi des équipements fiables et efficaces pour tous vos travaux.
        </i>
      </p>
    </div>
</div>