<div class="container">
  <div class="row d-flex flex-wrap">
    <!-- First Card -->
    <div class="card flex-fill m-2">
      <img class="card-img-top" src="r6.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Remorques</h5>
        <p class="card-text">Les remorques sont des véhicules tractés pour transporter des marchandises ou équipements, utilisées dans divers secteurs avec un attelage et des accessoires de sécurité.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">3000L </li>
        <li class="list-group-item">4000L </li>
        <li class="list-group-item">5000L </li>
      </ul>
    </div>

    <!-- Second Card -->
    <div class="card flex-fill m-2">
      <img class="card-img-top" src="b2.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Benne</h5>
        <p class="card-text">Une benne est un conteneur ou un compartiment utilisé pour transporter des matériaux, souvent monté sur un camion ou un véhicule utilitaire. Elle est couramment utilisée dans le bâtiment, l'agriculture et les déchets.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">2T </li>
        <li class="list-group-item">3T </li>
        <li class="list-group-item">4T </li>
        <li class="list-group-item">5T </li>
      </ul>
    </div>

    <!-- Third Card -->
    <div class="card flex-fill m-2">
      <img class="card-img-top" src="a1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Anti Bélier</h5>
        <p class="card-text">Un anti-bélier est un dispositif utilisé en plomberie pour absorber les coups de bélier (surpressions dues à l'arrêt brutal de l'eau), protégeant ainsi les canalisations et équipements</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> Anti-Bélier à membrane</li>
        <li class="list-group-item">Anti-Bélier à ressort</li>
        <li class="list-group-item">Anti-Bélier à piston</li>
        <li class="list-group-item">Anti-Bélier à air libre</li>
      </ul>
    </div>
  </div>
</div> <br>
<div class="container">
  <div class="row d-flex flex-wrap">
    <!-- First Card -->
    <div class="card flex-fill m-2">
      <img class="card-img-top" src="bb1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Bride</h5>
        <p class="card-text">Une bride est un dispositif de fixation utilisé pour assembler ou serrer des éléments, souvent en mécanique ou en plomberie, assurant une connexion étanche ou solide.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Bride plate</li>
        <li class="list-group-item">Bride à collerette</li>
        <li class="list-group-item">Bride à souder</li>
        <li class="list-group-item">Bride à embotement</li>
        <li class="list-group-item">Bride libre</li>
      </ul>
    </div>

    <!-- Second Card -->
    <div class="card flex-fill m-2">
      <img class="card-img-top" src="cm1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">charpente metalique</h5>
        <p class="card-text">Une charpente métallique est une structure porteuse en acier, utilisée dans la construction pour soutenir des bâtiments, offrant résistance, légèreté et durabilité.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Charpente en acier</li>
        <li class="list-group-item">Charpente en aluminium</li>
        <li class="list-group-item">Charpente en treillis</li>
        <li class="list-group-item">Charpente en portique</li>
        <li class="list-group-item">Charpente en poutrelles</li>
      </ul>
    </div>

    <!-- Third Card -->
    <div class="card flex-fill m-2">
      <img class="card-img-top" src="cs1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">citerne de stockage</h5>
        <p class="card-text">Une citerne de stockage est un réservoir utilisé pour contenir des liquides ou des gaz, souvent employé dans l'industrie, l'agriculture ou le stockage domestique.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Citerne verticale</li>
        <li class="list-group-item">Citerne horizontale</li>
        <li class="list-group-item">Citerne enterrée</li>
        <li class="list-group-item">Citerne aérienne</li>
        <li class="list-group-item">Citerne sur skids</li>
      </ul>
    </div>
  </div>
</div><br>
<div class="container">
  <div class="row d-flex flex-wrap">
    <!-- First Card -->
    <div class="card flex-fill m-2">
      <img class="card-img-top" src="ci1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">citerne inox</h5>
        <p class="card-text">Une citerne inox est un réservoir en acier inoxydable, utilisé pour stocker des liquides ou des produits sensibles, offrant résistance à la corrosion et hygiène.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Citerne inox verticale</li>
        <li class="list-group-item">Citerne inox horizontale</li>
        <li class="list-group-item">Citerne inox sur mesure</li>
        <li class="list-group-item">Citerne inox alimentaire</li>
        <li class="list-group-item">Citerne inox pharmaceutique</li>
      </ul>
    </div>

    <!-- Second Card -->
    <div class="card flex-fill m-2">
      <img class="card-img-top" src="cb1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> conteneur bureau </h5>
        <p class="card-text">Un conteneur bureau est un espace de travail aménagé dans un conteneur maritime, offrant une solution modulaire et mobile pour des bureaux ou des espaces professionnels.

        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Conteneur bureau simple</li>
        <li class="list-group-item">Conteneur bureau double</li>
        <li class="list-group-item">Conteneur bureau modulaire</li>
        <li class="list-group-item">Conteneur bureau isolé</li>
        <li class="list-group-item">Conteneur bureau climatisé</li>
      </ul>
    </div>

    <!-- Third Card -->
    <div class="card flex-fill m-2">
      <img class="card-img-top" src="crepine.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">crepine</h5>
        <p class="card-text">Une crépine est un dispositif filtrant, souvent utilisé en plomberie ou en irrigation, pour empêcher les débris de pénétrer dans les tuyaux ou les systèmes de pompage.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Crépine simple</li>
        <li class="list-group-item">Crépine double</li>
        <li class="list-group-item">Crépine à fente</li>
        <li class="list-group-item">Crépine à tamis</li>
        <li class="list-group-item">Crépine anti-vortex</li>
      </ul>
    </div>
  </div>
</div><br>
<div class="container">
  <div class="row d-flex flex-wrap">
    <!-- First Card -->
    <div class="card flex-fill m-2">
      <img class="card-img-top" src="ec1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">element de colone</h5>
        <p class="card-text">Un élément de colonne est une pièce structurelle verticale utilisée dans la construction pour soutenir des charges, souvent intégrée dans des systèmes de bâtiments ou de structures métalliques.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Colonne en acier</li>
        <li class="list-group-item">Colonne en béton</li>
        <li class="list-group-item">Colonne en bois</li>
        <li class="list-group-item">Colonne composite</li>
        <li class="list-group-item">Colonne préfabriquée</li>
      </ul>
    </div>

    <!-- Second Card -->
    <div class="card flex-fill m-2">
      <img class="card-img-top" src="fs1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">filter a sable </h5>
        <p class="card-text">Un filtre à sable est un système de filtration utilisant du sable pour éliminer les impuretés et les particules de l'eau, couramment employé dans les piscines, le traitement des eaux et l'irrigation.

        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Filtre à sable manuel</li>
        <li class="list-group-item">Filtre à sable automatique</li>
        <li class="list-group-item">Filtre à sable vertical</li>
        <li class="list-group-item">Filtre à sable horizontal</li>
        <li class="list-group-item">Filtre à sable sous pression</li>
      </ul>
    </div>

    <!-- Third Card -->
    <div class="card flex-fill m-2">
      <img class="card-img-top" src="jd1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">joint de demontage</h5>
        <p class="card-text">Un joint de démontage est un accessoire utilisé pour faciliter la séparation de deux éléments assemblés, souvent dans les systèmes de tuyauterie ou mécaniques, sans endommager les pièces.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Joint de démontage à vis</li>
        <li class="list-group-item">Joint de démontage à came</li>
        <li class="list-group-item">Joint de démontage hydraulique</li>
        <li class="list-group-item">Joint de démontage mécanique</li>
        <li class="list-group-item">Joint de démontage à griffes</li>
      </ul>
    </div>
  </div>
</div><br>
<div class="container">
  <div class="row d-flex flex-wrap">
    <!-- First Card -->
    <div class="card flex-fill m-2">
      <img class="card-img-top" src="p1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">pinion</h5>
        <p class="card-text">Un pinion est une roue dentée utilisée dans les systèmes mécaniques pour transmettre le mouvement, souvent en interaction avec une chaîne ou une crémaillère.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Pinion droit</li>
        <li class="list-group-item">Pinion hélicoïdal</li>
        <li class="list-group-item">Pinion conique</li>
        <li class="list-group-item">Pinion à chaîne</li>
        <li class="list-group-item">Pinion à crémaillère</li>
      </ul>
    </div>

    <!-- Second Card -->
    <div class="card flex-fill m-2">
      <img class="card-img-top" src="rc1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">remorque citerne</h5>
        <p class="card-text">Une remorque citerne est un véhicule tracté équipé d'un réservoir, utilisé pour transporter des liquides ou des gaz, souvent dans les secteurs industriels, agricoles ou de livraison de carburant.

        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Remorque citerne alimentaire</li>
        <li class="list-group-item">Remorque citerne hydrocarbures</li>
        <li class="list-group-item">Remorque citerne produits chimiques</li>
        <li class="list-group-item">Remorque citerne eau potable</li>
        <li class="list-group-item">Remorque citerne gaz</li>
      </ul>
    </div>

    <!-- Third Card -->
    <div class="card flex-fill m-2">
      <img class="card-img-top" src="s2.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">separateur</h5>
        <p class="card-text">Un séparateur est un dispositif utilisé pour diviser ou isoler des composants, comme des liquides et des solides, ou des particules de différentes tailles, souvent employé dans les processus industriels ou de filtration.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Séparateur gravitaire</li>
        <li class="list-group-item">Séparateur cyclonique</li>
        <li class="list-group-item">Séparateur magnétique</li>
        <li class="list-group-item">Séparateur à filtres</li>
        <li class="list-group-item">Séparateur centrifuge</li>
      </ul>
    </div>
  </div>
</div>
