<div class="container">
    <div class="row">
      <!-- First Card -->
      <div class="card">
        <img class="card-img-top" src="r6.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Remorques</h5>
          <p class="card-text">Les remorques sont des véhicules tractés pour transporter des marchandises ou équipements, utilisées dans divers secteurs avec un attelage et des accessoires de sécurité.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">3000L </li>
          <li class="list-group-item">4000L </li>
          <li class="list-group-item">5000L </li>
        </ul>
      </div>
  
      <!-- Second Card -->
      <div class="card">
        <img class="card-img-top" src="b2.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Benne</h5>
          <p class="card-text">Une benne est un conteneur ou un compartiment utilisé pour transporter des matériaux, souvent monté sur un camion ou un véhicule utilitaire. Elle est couramment utilisée dans le bâtiment, l'agriculture et les déchets.</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">2T </li>
          <li class="list-group-item">3T </li>
          <li class="list-group-item">4T </li>
          <li class="list-group-item">5T </li>
        </ul>
      </div>
    </div>
  </div>