<div class="container">
  <div class="row d-flex flex-wrap">
    <!-- First Card -->
    <div class="card flex-fill m-2">
      <img class="card-img-top" src="r6.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Remorques</h5>
        <p class="card-text">Les remorques sont des véhicules tractés pour transporter des marchandises ou équipements, utilisées dans divers secteurs avec un attelage et des accessoires de sécurité.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">3000L </li>
        <li class="list-group-item">4000L </li>
        <li class="list-group-item">5000L </li>
      </ul>
    </div>

    <!-- Second Card -->
    <div class="card flex-fill m-2">
      <img class="card-img-top" src="b2.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Benne</h5>
        <p class="card-text">Une benne est un conteneur ou un compartiment utilisé pour transporter des matériaux, souvent monté sur un camion ou un véhicule utilitaire. Elle est couramment utilisée dans le bâtiment, l'agriculture et les déchets.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">2T </li>
        <li class="list-group-item">3T </li>
        <li class="list-group-item">4T </li>
        <li class="list-group-item">5T </li>
      </ul>
    </div>

    <!-- Third Card -->
    <div class="card flex-fill m-2">
      <img class="card-img-top" src="a1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Anti Bélier</h5>
        <p class="card-text">Un anti-bélier est un dispositif utilisé en plomberie pour absorber les coups de bélier (surpressions dues à l'arrêt brutal de l'eau), protégeant ainsi les canalisations et équipements</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> - </li>
        <li class="list-group-item"> - </li>
        <li class="list-group-item"> - </li>
        <li class="list-group-item"> - </li>
      </ul>
    </div>
  </div>
</div> <br>
<div class="container">
  <div class="row d-flex flex-wrap">
    <!-- First Card -->
    <div class="card flex-fill m-2">
      <img class="card-img-top" src="bb1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Bride</h5>
        <p class="card-text">Une bride est un dispositif de fixation utilisé pour assembler ou serrer des éléments, souvent en mécanique ou en plomberie, assurant une connexion étanche ou solide.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> - </li>
        <li class="list-group-item"> - </li>
        <li class="list-group-item"> - </li>
      </ul>
    </div>

    <!-- Second Card -->
    <div class="card flex-fill m-2">
      <img class="card-img-top" src="cm1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">charpente metalique</h5>
        <p class="card-text">Une charpente métallique est une structure porteuse en acier, utilisée dans la construction pour soutenir des bâtiments, offrant résistance, légèreté et durabilité.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> - </li>
        <li class="list-group-item"> - </li>
        <li class="list-group-item"> - </li>
      </ul>
    </div>

    <!-- Third Card -->
    <div class="card flex-fill m-2">
      <img class="card-img-top" src="cs1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">citerne de stockage</h5>
        <p class="card-text">Une citerne de stockage est un réservoir utilisé pour contenir des liquides ou des gaz, souvent employé dans l'industrie, l'agriculture ou le stockage domestique.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> - </li>
        <li class="list-group-item"> - </li>
        <li class="list-group-item"> - </li>
        <li class="list-group-item"> - </li>
      </ul>
    </div>
  </div>
</div><br>
<div class="container">
  <div class="row d-flex flex-wrap">
    <!-- First Card -->
    <div class="card flex-fill m-2">
      <img class="card-img-top" src="ci1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">citerne inox</h5>
        <p class="card-text">Une citerne inox est un réservoir en acier inoxydable, utilisé pour stocker des liquides ou des produits sensibles, offrant résistance à la corrosion et hygiène.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> - </li>
        <li class="list-group-item"> - </li>
        <li class="list-group-item"> - </li>
      </ul>
    </div>

    <!-- Second Card -->
    <div class="card flex-fill m-2">
      <img class="card-img-top" src="cb1.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"> conteneur bureau </h5>
        <p class="card-text">Un conteneur bureau est un espace de travail aménagé dans un conteneur maritime, offrant une solution modulaire et mobile pour des bureaux ou des espaces professionnels.

        </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> - </li>
        <li class="list-group-item"> - </li>
        <li class="list-group-item"> - </li>
      </ul>
    </div>

    <!-- Third Card -->
    <div class="card flex-fill m-2">
      <img class="card-img-top" src="crepine.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">crepine</h5>
        <p class="card-text">Une crépine est un dispositif filtrant, souvent utilisé en plomberie ou en irrigation, pour empêcher les débris de pénétrer dans les tuyaux ou les systèmes de pompage.</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"> - </li>
        <li class="list-group-item"> - </li>
        <li class="list-group-item"> - </li>
        <li class="list-group-item"> - </li>
      </ul>
    </div>
  </div>
</div>
