<div class="container">
    <div class="content_page">
      <div class="content">
        <!-- Breadcrumb -->
        <div class="fil_ariane">
          <a href="" title="Accueil">Accueil</a> -- &gt; <a href="" title="Remorque">Benne</a>
        </div>
  
        <!-- Page Title -->
        <div class="titre_page1">
          <h1>Benne</h1>
        </div>
  
        <!-- Gallery Section -->
        <div class="row">
          <!-- First Card -->
          <div class="col-md-4 mb-4">
            <div class="card">
              <a class="lien_gal" data-lightbox="remorque-gallery">
                <img class="card-img-top" src="ben1.png" alt="Remorque 1">
              </a>
              <div class="card-body">
                <h5 class="card-title">Benne 1</h5>
                <p class="card-text">Description de la Benne 1.</p>
              </div>
            </div>
          </div>
  
          <!-- Second Card -->
          <div class="col-md-4 mb-4">
            <div class="card">
              <a class="lien_gal" href="" data-lightbox="remorque-gallery">
                <img class="card-img-top" src="ben2.png" alt="Remorque 2">
              </a>
              <div class="card-body">
                <h5 class="card-title">Benne 2</h5>
                <p class="card-text">Description de la Benne 2.</p>
              </div>
            </div>
          </div>
  
          <!-- Third Card -->
          <div class="col-md-4 mb-4">
            <div class="card">
              <a class="lien_gal" href="" data-lightbox="remorque-gallery">
                <img class="card-img-top" src="ben3.jpg" alt="Remorque 3">
              </a>
              <div class="card-body">
                <h5 class="card-title">Benne 3</h5>
                <p class="card-text">Description de la Benne 3.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>